doctype html
ion-tabs
  ion-tab-bar(slot='bottom')
    ion-tab-button(tab='mail')
      ion-icon(name='mail')
      ion-label Mail
    ion-tab-button(tab='meet')
      ion-icon(name='videocam')
      ion-label Meet
