doctype html
.wrapper(#wrapper)
  .column
    ion-icon.ion-margin-start(name='trash-outline', color='light', #trash)
  .column.ion-text-right
    ion-icon.ion-margin-end(name='archive-outline', color='light', #archive)
ion-item(lines='none').email
  ion-row.ion-align-items-center
    ion-col(size='2')
      .email-circle([style.background-color]='mail.color') {{ mail.from | slice:0:1 }}
    ion-col(size='8')
      ion-label.ion-text-capitalize.ion-text-wrap(color='dark', [style.font-weight]='mail.read? "":"bold"')
        | {{ mail.from.split("@")[0] }}
        p.excerpt
          | {{ (mail.content.length > 50) ? (mail.content | slice:0:50) + '...' : mail.content }}
    ion-col(size='2')
      .ion-text-right((click)='mail.star = !mail.star')
        .date {{ mail.date | date:'dd. MMM'}}
        ion-icon(
          [name]='mail.star ? "star" : "star-outline"',
          [color]='mail.star ? "warning" : "medium"'
        )
