doctype html
ion-content(scrollEvents='true', [appHideHeader]='searchOverlay', [appAnimatedFab]='fabBtn')
  .search-overlay(slot='fixed', #searchOverlay)
    ion-row.ion-align-items-center
      ion-col(size='2')
        ion-menu-button(color='dark')
      ion-col(size='8')
        ion-input(placeholder='Search in mails')
      ion-col(size='2')
        ion-avatar((click)='openAccountAsync($event)')
          img(src='https://en.gravatar.com/userimage/71535578/a4803efe6592196d7bcda63224972984.jpg')
  ion-refresher((ionRefresh)='doRefresh($event)', slot='fixed')
    ion-refresher-content(refreshing-spinner='crescent')
  ng-container(*ngrxLet='vm$; let vm')
    ion-list
      ion-list-header Inbox
      app-swipe-item(*ngFor='let mail of vm.listOfMails', [mail]='mail')

  ion-fab(slot='fixed', vertical='bottom', horizontal='end')
    ion-fab-button(color='light', #fabBtn)
      ion-icon(name='pencil-outline', color='primary')
      span Compose
